$clr-blue-100: hsl(248, 32%, 49%);
$clr-blue-200: hsl(246, 25%, 77%);
$clr-blue-300: hsl(249, 10%, 26%);

$clr-red-100: hsl(0, 100%, 74%) ;
$clr-green-050: hsl(154, 65%, 68%);
$clr-green-100: hsl(154, 59%, 51%) ;
$clr-green-200: hsl(154, 34%, 51%) ;

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200-semi: hsla(0, 0%, 0%, .2);


